<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hannahbananaflashcard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9473414F1F1FC79F00DD403B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>947341631F1FC79F00DD403B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9473416E1F1FC79F00DD403B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
